.section1-container {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(79, 175, 159, 1) 51%, rgba(95, 252, 70, 1) 100%);
    height: 600px;
    width: auto;
    margin-right: 80px;
    margin-left: 80px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.navigation {
    display: flex;
    margin-bottom: 80px;
}

.navigation,
.nav-links,
.logo {
    flex-grow: 1;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.nav-links a {
    text-decoration: none;
    color: #E5E7EB;
}

.part-Bcontainer {
    display: flex;
    height: 300px;
    width: auto;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;


}

.part-Bcontainer img {
    height: auto;
    width: 600px;
}
button{
    background-color: #3882F6;
    color: #E5E7EB;
    width: 150px;
}
.part-Bcontainer h1{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.footer {
    background-color: #1F2937;
}